<div class="big-title fadeInRight animated">
  Forecast
</div>
<div class="forecast-box">
  

     <%= form_tag("#", method: "post") do %>
        <p>
          <%= label_tag(:plan_choice, "Choose Plan") %>
          <%= select_tag(:plan_choice, options_for_select(@plan_options_list)) %>
        </p>
        <p>
          <%= label_tag(:balance, "Start Balance:") %>
          <%= text_field_tag(:balance) %>
        </p>
        <p>
          <%= label_tag(:start_date, "Start Date:") %>
          <%= date_field_tag(:start_date) %>
        </p>
        <p>
          <%= label_tag(:end_date, "End Date:") %>
          <%= date_field_tag(:end_date) %>
        </p>
        <p>
          <%= submit_tag("Run Plan") %>
        </p>
      <% end %>
    </div>
  </ul>
  <script type="text/javascript">
    $('input[type="submit"]').on('click', function() {
       $('form').addClass('fadeOutLeft animated');  
    });
  </script>
</div>
