<h1> Setup Scenario </h1>
  <% if !logged_in? %>
    You must be logged in!
  <% else %>
    <div class="col-md-6">
      <%= form_for :scenario, url: scenarios_path do |f| %>
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </p>

        <p>
          <%= f.label :vest_level%><br>
          <%= f.text_field :vest_level, class: 'form-control' %>
        </p>

        <h3> Include Accounts </h3>
        <% current_user.accounts.each do |a| %>
          <p>
            <%= f.label "#{a.acct_name}" %></br>
            <%= f.check_box "#{a.acct_name}", class: 'form-control' %>
          </p>
        <% end %>
        <p>
          <%= f.submit %>
        </p>
      <% end %>
    </div>
  <% end %>
