<h1> Setup Scenario </h1>
  <% if !logged_in? %>
    You must be logged in!
  <% else %>
    <div class="col-md-6">
      <%= form_for :scenario, url: scenarios_path do |f| %>
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </p>

        <p>
          <%= f.label :vest_level%><br>
          <%= f.text_field :vest_level, class: 'form-control' %>
        </p>

        <p>
          <%= f.submit %>
        </p>
      <% end %>
    </div>
  <% end %>
