<h1>Your Results</h1>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"></script>
<script type="text/javascript">

  $('.sidebar').hide()
  $(document).ready(function() {
  $(function() {
    var bals = <%= "#{@bal_points.to_s}" %>
    <% @acct_points.each_with_index do |acct, index| %>
      var acct_<%= index %> = <%= acct %>
    <% end %>
    $.plot("#placeholder", [bals,
    <% @acct_points.length.times do |i| %>
      acct_<%= i %>,
    <% end %>
    ]);

    // Add the Flot version string to the footer

    $("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
  });
});
  </script>
<div class="demo-container">
  <div id="placeholder" class="demo-placeholder" style="width:80%;height:70vh;"></div>
</div>

<!--<table class="results">
  <thead>
    <tr>
      <th>Date</th>
      <th>Balance</th>
      <% Account.all.to_a.each do |acct| %>
        <th><%= acct.acct_name %></th>
        <th>Balance</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @sc.balance_records.each do |br| %>
      <tr>
        <td><%= br.date %></td>
        <td><%= br.accounts[0].balance%></td>
        <td><%= br.balance%></td>
        <td><%= br.balance%></td>
      </tr>
    <% end %>
  </tbody>
</table>

