Enter Scenario

<%= form_tag(:action => "run") do %>

  <p>
    <%= label_tag(:name) %>
    <%= text_field_tag(:name)%>
  </p>

  <p>
    <%= label_tag(:start_day) %>
    <%= date_field_tag(:start_day)%>
  </p>

  <p>
    <%= label_tag(:finish_day) %>
    <%= date_field_tag(:finish_day)%>
  </p>

  <p>
    <%= label_tag(:start_balance) %>
    <%= text_field_tag(:start_balance)%>
  </p>

  <p>
    <%= label_tag(:vest_level) %>
    <%= text_field_tag(:vest_level)%>
  </p>

  <p>
    <%= submit_tag("Setup Scenario", id: "submit") %>
  </p>

<% end %>
