<!DOCTYPE html>
<html>
<head>
  <title>PfRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="row">
    <div class="col-md-3 sidebar">
      <ul id="account_list">
        <% @acc.each do |acct| %>
          <li class="acct_box" id="#{acct.id}">
            <%= acct.acct_name %></br>
            Balance: <%= acct.balance %></br>
            Vest Priority: <%= acct.vest_priority %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <%= yield %>
    </div>

</body>
</html>
