<!DOCTYPE html>
<html>
<head>
  <title>PfRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <ul class="nav-bubbles">
      <% if logged_in? %>
        <li>
            <%= link_to '/accounts/index' do %>
              <div class="round-border">
                Accounts
              </div>
            <% end %> 
        </li>
        <li>
          <%= link_to '/plans/index' do %>
           <div class="round-border">
              Plans
           </div>
          <% end %>
        </li>
        <li>
          <%= link_to '/balance_records/new' do %>
           <div class="round-border">
              Forecast
           </div>
          <% end %>
        </li>
        <li class="pull-right">
          <div class="round-border">
            <%= link_to 'Sign Out', logout_path, method: "delete" %>
          </div>
        </li>
      <% else %>
        <li>
          <div class="round-border">
            <%= link_to "Log in", login_path %>
          </div>
        </li>
        <li>
          <div class="round-border">
            <%= link_to "Sign up", signup_path %>
          </div>
        <li>
      <% end %>
    </ul>
  <% if flash[:alert] %>
    <div class="flash alert"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="flash error"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:danger] %>
    <div class="flash danger"><%= flash[:danger] %></div>
  <% end %>
  <% if flash[:success] %>
    <div class="flash success"><%= flash[:success] %></div>
  <% end %>
  <div class="">
    <%= yield %>
  </div>

</body>
</html>
