<%= form_for :account, url: accounts_path do |f| %>
  <p>
    <%= f.label :acct_name %><br>
    <%= f.text_field :acct_name %>
  </p>

  <p>
    <%= f.label :balance %><br>
    <%= f.text_area :balance %>
  </p>

  <p>
    <%= f.label :rate %><br>
    <%= f.text_area :rate %>
  </p>

  <p>
    <%= f.label :min_rate %><br>
    <%= f.text_area :min_rate %>
  </p>

  <p>
    <%= f.label :min_floor %><br>
    <%= f.text_area :min_floor %>
  </p>

  <p>
    <%= f.label :day %><br>
    <%= f.text_area :day %>
  </p>

  <p>
    <%= f.label :weekly %><br>
    <%= f.check_box :weekly %>
  </p>

  <p>
    <%= f.label :carry_balance %><br>
    <%= f.check_box :carry_balance %>
  </p>

  <p>
    <%= f.label :fixed_amount %><br>
    <%= f.text_area :fixed_amount %>
  </p>


  <p>
    <%= f.submit %>
  </p>
<% end %>
